.jumbotron {
    background-color: lightskyblue;
    text-align: center;
    margin: 1px;
    margin-top: 50px;
}
.container2 {
    display: flex;
    padding: 5px 5px 5px 5px;
    margin: 1px;
    flex-wrap: wrap;
}
.container3 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 5px 5px;
    margin: 1px;

}
.card-hotel {
    flex: 1 200px;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px;
    justify-content: space-between;
    background-color: #add;
}
footer {
    display: flex;
    flex-direction: row;
    background-color: lightskyblue;
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon {
    padding-right: 10px;
}
.card-footer {
  
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin: 2px 2px;
    justify-content: space-between;
    background-color: lightskyblue;
}